# Visual Studio / Rider / VS Code
.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
enc_temp_folder/

# Unreal Build Tool
Binaries/
Intermediate/
DerivedDataCache/
Saved/
Packaged/
Plugins/**/Binaries/
Plugins/**/Intermediate/

# UHT generated
*.generated.cs

# Misc
*.code-workspace
.vsconfig
Architecture.md
ProjectArchitecture.md